export PATH="$HOME/bin:$PATH"

{{- if eq .chezmoi.osRelease.id "linuxmint" }}
export PATH="$HOME/.local/share/applications/pycharm-community-2024.2/bin:$PATH"
alias tm="cd /mnt/ext4_data/projects/trackmania_rl/ && conda activate tm311"
alias nvidia-limit="sudo nvidia-smi -pm 1 && sudo nvidia-smi -pl 100"
{{- end }}

HISTSIZE=100000
HISTFILESIZE=100000
shopt -s histappend
PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND"

alias vi="nvim"
alias vim="nvim"
