#!/bin/bash

{{ include ".chezmoitemplates/filesystem_utils" }}

sudo umount -a

###############################################
#                HD-IDLE
###############################################
URL=$(wget -q -O - https://api.github.com/repos/adelolmo/hd-idle/releases/latest | grep 'amd64\.deb"$' | awk -F'"' ' {print $4}  ')
wget -q -O hd-idle.deb "$URL"
sudo dpkg -i hd-idle.deb
rm hd-idle.deb

sudo perl -pi -e 's/^.*START_HD_IDLE=.*$/START_HD_IDLE=true/' /etc/default/hd-idle
sudo perl -pi -e 's/^.*HD_IDLE_OPTS=.*$/HD_IDLE_OPTS="-i 600 -l /var/log/hd-idle.log"/' /etc/default/hd-idle

sudo systemctl start hd-idle
sudo systemctl enable hd-idle

###############################################

prepare_mount_point "/mnt/wdd" "paul"

# use "fdisk -l" and "blkid" to get the UUID
# Update fstab
UUID="0cfde01b-f95e-4c53-842b-42674ddd3b25"
ENTRY="UUID=\"$UUID\" /mnt/wdd ext4 defaults 0 2"
update_fstab "$UUID" "$ENTRY"

# Re-mount everything
sudo mount -a
