#!/bin/bash

{{ include ".chezmoitemplates/filesystem_utils" }}

# Unmount all filesystems
sudo umount -a

prepare_mount_point "/mnt/ext4_data" "paul"

# use "fdisk -l" and "blkid" to get the UUID
UUID="bca615bc-2c63-4db8-8408-ddd48b27ab55"
ENTRY="UUID=\"$UUID\" /mnt/ext4_data ext4 defaults 0 2"
update_fstab "$UUID" "$ENTRY"

# Mount all filesystems
sudo mount -a

# Remove existing directories and create symbolic links if they don't already exist
for dir in Downloads Documents Pictures Torrents; do
    if [ -L ~/"$dir" ]; then rm ~/"$dir"; fi
    if [ -d ~/"$dir" ]; then rm -rf ~/"$dir"; fi
    ln -s /mnt/ext4_data/"$dir" ~/"$dir"
done

