[General]
contrastOpacity=188
drawThickness=1
filenamePattern=%F_%H-%M-%S
savePath={{ .chezmoi.homeDir }}/Pictures
showDesktopNotification=false
showHelp=false
showStartupLaunchMessage=false
startupLaunch=false
