#!/bin/bash

set -euo pipefail

{{ include ".chezmoitemplates/filesystem_utils" }}
# MOUNT POINTS

if mountpoint -q /mnt/minis_share; then
    sudo umount /mnt/minis_share
fi

prepare_mount_point "/mnt/minis_share" "paul"

# Write .smbcredentials
cat <<EOF | sudo install -m 600 /dev/stdin /root/.smbcredentials
username=paul
password={{ (bitwardenFields "item" "Home_network").Samba_share_password.value }}
EOF

# FSTAB
SHARE_ID="//minis/share"
ENTRY="$SHARE_ID /mnt/minis_share cifs credentials=/root/.smbcredentials,uid=1000,gid=1000,dir_mode=0755,file_mode=0755,iocharset=utf8,noauto,x-systemd.automount,_netdev 0 0"
update_fstab "$SHARE_ID" "$ENTRY"

# Re-mount everything
sudo mount -a

