#!/bin/bash

{{ include ".chezmoitemplates/pause_on_error" }}

set -euo pipefail

{{ include ".chezmoitemplates/sudo_keepalive" }}
sudo_keepalive

{{ include ".chezmoitemplates/get_os_codename" }}

sudo dpkg --add-architecture i386
sudo mkdir -pm755 /etc/apt/keyrings
sudo wget -O /etc/apt/keyrings/winehq-archive.key https://dl.winehq.org/wine-builds/winehq.key
sudo wget -NP /etc/apt/sources.list.d/ "https://dl.winehq.org/wine-builds/ubuntu/dists/${CODENAME}/winehq-${CODENAME}.sources"
sudo apt update
sudo apt install --yes --install-recommends winehq-staging

sudo apt install winetricks -y
sudo winetricks --self-update
winetricks -q dxvk
winetricks -q isolate_home
