#!/bin/bash

{{ include ".chezmoitemplates/pause_on_error" }}

set -euo pipefail

# Install Starship on all machines for a nice looking terminal
if ! command -v starship &>/dev/null; then
  curl -sS https://starship.rs/install.sh | sh -s -- -y
fi
