# --- Launch/Attach tmux automatically, but only if not already inside it
if [ -z "$TMUX" ] && [ -n "$PS1" ]; then
  if tmux ls >/dev/null 2>&1; then
    # Find the most recently active session
    LAST_SESSION=$(tmux ls -F '#{session_last_attached} #{session_name}' 2>/dev/null | sort -nr | head -n 1 | cut -d' ' -f2-)

    # If opening in a specific folder (like via Nemo), create a new window for it.
    if [ "$PWD" != "$HOME" ]; then
      tmux new-window -t "$LAST_SESSION" -c "$PWD"
    fi

    # Attach to the session
    exec tmux attach -t "$LAST_SESSION"
  else
    # No sessions exist, create a new one starting in the current directory
    exec tmux new -s main -c "$PWD"
  fi
fi

export PATH="$HOME/.local/bin:$HOME/bin:$PATH"
export EDITOR="nvim"
export VISUAL="nvim"

eval "$(starship init bash)"
eval "$(fzf --bash)"
eval "$(zoxide init bash)"

# Make fzf use fd for faster, cleaner searches
export FZF_DEFAULT_COMMAND='fd --type f --type d --strip-cwd-prefix --hidden --follow --exclude .git'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

source "$HOME/.fzf/shell/completion.bash"

# Tell fzf to use the 'cd' fuzzy completion logic for 'z'
complete -F _fzf_dir_completion -o default -o bashdefault z

{{- $features := dig .chezmoi.hostname (dict) .hosts_features -}}

{{- if (dig "setup_gui" false $features) }}
# PyCharm is only installed on GUI machines
# export PATH="$HOME/.local/share/applications/pycharm-community-2024.2/bin:$PATH"
{{- end }}

{{- if (dig "setup_nvidia" false $features) }}
# Nvidia specific aliases
alias nvidia-limit="sudo nvidia-smi -pm 1 && sudo nvidia-smi -pl 100"
{{- end }}

{{- if eq .chezmoi.hostname "fractal" }}
alias trackmania="cd /mnt/ext4_data/projects/trackmania_rl/ && conda activate tm311"
{{- end }}

# Recursively apply dos2unix in all files if the folder and subfolders. Ignore hidden files and files in gitignore.
alias d2u='fd -tf -x dos2unix'
# Same as above, but also applied on files that are gitignored.
alias d2ui='fd -tf -I -x dos2unix'

HISTSIZE=100000
HISTFILESIZE=100000
shopt -s histappend
PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND"

#---  NVM Configuration: lazy-loaded
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
#_load_nvm() {
    ## Remove these stubs so they don't loop
    #unset -f nvm node npm npx
    ## Load NVM for real
    #[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
    #[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
#}
#
## Create "stubs" that load NVM only when called
#nvm()  { _load_nvm; nvm "$@"; }
#node() { _load_nvm; node "$@"; }
#npm()  { _load_nvm; npm "$@"; }
#npx()  { _load_nvm; npx "$@"; }

{{- if eq .chezmoi.hostname "ALFR-CY5VCK3-L" }}
export NODE_EXTRA_CA_CERTS="/usr/local/share/ca-certificates/ZscalerRootCA.crt"
{{- end }}

source ~/.bash_snippets
