# ===============================================================
# This file is managed by CHEZMOI.
#
# The file is loaded with 
# `crontab ~/.chopin_crontab`
# ===============================================================

# Send remote backups to Rone with Borgbackup
47 2 */3 * * export BORG_PASSPHRASE=$(cat ~/.borg/passphrase) && borg prune --list --stats --keep-daily=7 --keep-weekly=4 --keep-monthly=6 --keep-yearly=5 ronewg:/mnt/wdd/borgrepo ; borg create ronewg:/mnt/wdd/borgrepo::{now} /mnt/btr -v --progress --compression zstd 

# Send forecasts downloaded to Google Drive 
18 4 *   * * docker run --rm -v /mnt/btr/unbackuped_data/docker/renewables_forecasts/data/collectForecastsParquet:/app/data -v /mnt/btr/unbackuped_data/docker/renewables_forecasts/data/collectForecastsParquet_archive:/app/archive google_upload --local-folder /app/data --archive-folder /app/archive --drive-folder-id "12OJ7nLQ2pJJueii-zA7QCjaDvTTRjFOb"

